@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Orbitron:400,300,500);

body {
    background: #1A1A1B;
}

h1{
    text-align: center;
    font-family: "Orbitron Black", serif;
    font-size: 9em;
    color: #DDDDDD;
    text-shadow: 2px 2px 2px #DBD8E3;
    -webkit-text-stroke: 1px black;
}

h2{
    text-align: center;
    font-family: "Orbitron Black", serif;
    font-size: 4em;
    color: #DDDDDD;
}

h3{
    text-align: center;
    font-size: 1em;
    color: #DDDDDD;
    border-width:0.1px;
    border-style:solid;
    border-color:#DBD8E3;
}

h4{
    text-align: center;
    font-family: "Orbitron Black", serif;
    font-size: 2em;
    color: #DDDDDD;
}


.return{
    text-align: center;
    font-family: "Orbitron Black", serif;
    font-size: 1em;
    color: #DDDDDD;
    margin-top: 1%;
    margin-bottom: 10%;

}

input{
    -webkit-text-stroke: 1px black;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px 50px;
    margin-bottom: 400px;
    margin-left: 20%;
    margin-right: 20%;
}

button{
    background-color: #DBD8E3;
    font-size: 1.7em;
    height: 120%;
    border: 1px solid black;
}

button:hover{
    background-color: #1A1A1B;
    color: #DBD8E3;
    cursor: pointer;
    scale: 100%;
    border: 1px solid white;
}

button:active {
    transform: translateY(4px);
}


.smallButton{
    border: 1px solid white;
    background-color: #1A1A1B;
    color: #DBD8E3;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;

}

.contenuCentre{
    display: flex;
    justify-content: center;
}

.smallText{
    color: #DDDDDD;
}

#LoginButton{
    margin-top: 1%;
}

#loginInstruction{
    margin-bottom: 1%;
    margin-top: 1%;
}

#username{
    margin-bottom: 4%;
}

#texteIntro{
    color: #DBD8E3;
    font-family: "Orbitron Black";
    text-align: center;
    font-size: 1.2em;
    border-width:0.1px;
    border-style:solid;
    border-color:#DBD8E3;
    padding: 1em 1em 1em 1em;
}

#buttonIntro{
    padding: 1em 2em 1em 2em;
    border-style:solid;
    font-size: 2em;
    font-family: "Orbitron Black", serif;
    margin-top: 5%;
}


.waviy{
    animation: flip 2s 1;
    animation-delay: 1s;
}
@keyframes flip {
    0%,80% {
        transform: rotateY(360deg)
    }
}

html, body {margin: 0; height: 100%; overflow: hidden}